BasedOnStyle: Google
IndentWidth: 4
BreakBeforeBraces: Attach

IndentAccessModifiers: false
AccessModifierOffset: -4

KeepEmptyLinesAtTheStartOfBlocks: true

PenaltyBreakAssignment: 1000000
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: false
ColumnLimit: 220
NamespaceIndentation: All